# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wordpress/index.php [L]
</IfModule>
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "84600"
  ExpiresByType text/html "84600"
  ExpiresByType image/gif "84600"
  ExpiresByType image/jpeg "84600"
  ExpiresByType image/png "84600"
  ExpiresByType text/css "84600"
  ExpiresByType text/javascript "84600"
  ExpiresByType application/x-javascript "84600"
  ExpiresByType text/xml "84600"
</IfModule>
