
.icon-ic_tw:before { content: '\e800'; } /* '' */
.icon-ic_seo:before { content: '\e801'; } /* '' */
.icon-ic_qatest:before { content: '\e802'; } /* '' */
.icon-ic_outsource:before { content: '\e803'; } /* '' */
.icon-ic_inta:before { content: '\e804'; } /* '' */
.icon-ic_in:before { content: '\e805'; } /* '' */
.icon-ic_fb:before { content: '\e806'; } /* '' */
.icon-ic_develop:before { content: '\e807'; } /* '' */
.icon-ic_design:before { content: '\e808'; } /* '' */