
#fh5co-page{
  direction: rtl!important;
}

.rtl{
  direction: rtl!important;
}

.rtl_text{
  text-align: right!important;
}

.soc-icon,.icon-magic,.icon-server,.icon-tablet,.icon-line-chart{
  right:0!important;
  left: auto !important!important;
}

#fh5co-services-section .services .desc h3{
    margin-right: 65px!important;
    padding-top: 7px!important;
}

.icon-envelope-o{
  margin-right: 20px!important;
  margin-left: 1px!important;
  margin-top: 10px!important;
}

#fh5co-header nav {
  float: left!important;
}

#fh5co-header nav ul li {
  display: inline-table!important;
}

blockquote p {
  text-align:right!important;
}
select {
  padding: 0 5em 0 0!important;
}

.select {
  right: 25px!important;
  top: -4px!important;
}

span.icon-envelope-o, .icon-phone {
  color: #27e1ce!important;
  line-height: 4!important;
  margin-left: 5px!important;
}

#fh5co-offcanvas {
  left: 0!important;
  right: auto!important;
}

.fh5co-nav-toggle {
  left: 20px !important;
  right: auto!important;

}

blockquote{
  direction: rtl!important;
}

#fh5co-footer .float {
  float: right!important;
  margin-left: 10%!important;
  margin-right: auto!important;
}
#fh5co-offcanvas #menu span {
  float: right;
}
//
//#fh5co-footer {
//  float: right;
//}
//
//.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
//  float: right;
//}
//
//.col-md-offset-3 {
//  margin-right: 25%;
//}
//
//.col-md-offset-4 {
//  margin-right: 33.33333%;
//}
//
//.col-md-push-1 {
//  right: 8.33333%;
//}

#fh5co-footer .col-md-3{
  float: right!important;
}

#fh5co-footer .col-md-6{
  float: right!important;
}

#fh5co-footer .col-md-2{
  float: right!important;
}

#fh5co-footer .col-md-push-1 {
  right: 8.33333%!important;
  left:  auto!important;
}

.top-buffer {
  margin-top: 25px!important;
}

.offcanvas-visible #fh5co-page {
  -moz-transform: translateX(275px)!important;
  -webkit-transform: translateX(275px)!important;
  -ms-transform: translateX(275px)!important;
  -o-transform: translateX(275px)!important;
  transform: translateX(275px)!important;
}

ul#menu {
  direction: rtl!important;
}

#fh5co-services-section .services .desc {
      padding-left: 0px!important;
}
#fh5co-testimony-section .row {
  direction: initial!important;
}
#fh5co-header nav {
  float: left!important;
}
.lab img {
  width: 250px!important;
  height: auto!important;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .lab img {
    width: 140px!important;
    height: auto!important;
    margin:0px!important;
  }
  #fh5co-header .header-inner {
    height: auto!important;
    margin-top: 20px;
  }
  .lab {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .form-group {
    margin-bottom: 33px!important;
  }

  .fh5co-cta {
    /*height: 90vh;*/
  }

  .icon-envelope-o {
    margin-top: 0px!important;
  }
  .lab img {
    width: 140px!important;
    height: auto!important;
  }
  .lab {
    margin-left: 30px!important;
  }
  #fh5co-header .header-inner {
    height: auto!important;
    height: 70px!important;
  }

}